@import "tailwindcss";


.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.outfit-medium{
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.outfit-bold{
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", system-ui;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", system-ui;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", system-ui;
  font-weight: 900;
  font-style: normal;
}
#features-page, #gallery-page {
  scroll-margin-top: 100px; /* tinggi navbar lo */
}
#character-page {
  scroll-margin-top: -160px; /* tinggi navbar lo */
}

@utility bg-ungupink{
  background: linear-gradient(to bottom, #d31164 40%, #4a1b4e);
}

@utility bg-hijaubaru{
  background: linear-gradient(to bottom, #428166, #49B888)
}

@utility bg-hijaubaru-light{
  background: linear-gradient(to bottom, #4AB787, #49B888)
}

@utility bg-hijaubaru-reverse{
  background: linear-gradient(to bottom, #49B888, #428166)
}

@utility bg-ungukuning{
  background: linear-gradient(to bottom, #eacc19 40%, #431f4c)
}

@utility bg-ungubiru{
  background: linear-gradient(to bottom, #2B9CBE 40%, #431f4c)
}

@theme {
  --color-green: #428166;
}

@theme {
  --color-blueblack: #0F1B24;
}

@theme {
  --color-bluedark: #131E28;
}

body {
  font-family: 'Luckiest Guy', sans-serif;
}

a, button{
  @apply cursor-pointer;
}


/* ANIMATIONS */
@keyframes pop-up {
  0%   { opacity: 0; transform: scale(0.8) translateY(20px); }
  50% { opacity: 0.5; transform: scale(1.1) translateY(0); }
  100% { opacity: 1; transform: scale(1) translateY(0); }
}

@utility animate-pop-up {
  animation: pop-up 0.3s ease-in forwards;
}

.animate-arrow-right {
  --offset-r: 3px;
  animation: float-right-left 1.5s ease-in-out infinite;
  @media (min-width: 640px) {
    --offset-r: 10px;
  }
}

.animate-arrow-left {
  --offset-l: 3px;
  animation: float-left-right 1.5s ease-in-out infinite;
  @media (min-width: 640px) {
    --offset-l: 10px;
  }
}

@keyframes float-right-left {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(var(--offset-r));
  }
}

@keyframes float-left-right {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(var(--offset-l));
  }
}