@import "tailwindcss";

@font-face {
  font-family: 'ChunkParty';
  src: url('./fonts/ChunkParty.ttf') format('opentype');
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

#features-page, #gallery-page {
  scroll-margin-top: 100px; /* tinggi navbar lo */
}
#character-page {
  scroll-margin-top: -160px; /* tinggi navbar lo */
}

@utility bg-ungupink{
  background: linear-gradient(to bottom, #d31164 40%, #4a1b4e);
}

@utility bg-hijaubaru{
  background: linear-gradient(to bottom, #428166, #49B888)
}
@utility bg-hijaubaru-light{
  background: linear-gradient(to bottom, #4AB787, #49B888)
}
@utility bg-hijaubaru-reverse{
  background: linear-gradient(to bottom, #49B888, #428166)
}

@theme {
  --color-green: #428166;
}

@theme {
  --color-blueblack: #0F1B24;
}

@theme {
  --color-bluedark: #131E28;
}

body {
  font-family: 'ChunkParty', sans-serif;
}

a, button{
  @apply cursor-pointer;
}

